.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 2rem;
  height: 2.5rem;
  margin-right: 2rem;
  background: transparent;
  border: none;
  padding: 0;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button-line {
  width: 2.8rem;
  height: 2px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .toggle-button {
    display: none;
  }
}
