.side-drawer {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  right: 0;
  width: 50%;
  z-index: 10;
  transform: translateX(+120%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer-nav-items {
  list-style: none;
  margin: 10%;
}

.side-drawer-nav-items li {
  margin: 1rem 0;
}

.side-drawer-nav-items-link {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}
